        <!-- start: Contact Section -->
        <section class="tj-contact-section-2 section-bottom-gap">
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <div class="contact-form wow fadeInUp" data-wow-delay=".1s">
                  <h3 class="title">Feel Free to Get in Touch or Visit our Location.</h3>
                  <form id="contact-form">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-input">
                          <input type="text" name="cfName">
                          <label class="cf-label">Name <span>*</span></label>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-input">
                          <input type="text" name="cfCompany">
                          <label class="cf-label">Company <span>*</span></label>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-input">
                          <input type="email" name="cfEmail">
                          <label class="cf-label">Email <span>*</span></label>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-input">
                          <input type="tel" name="cfPhone">
                          <label class="cf-label">Phone <span>*</span></label>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="form-input">
                          <div class="tj-nice-select-box">
                            <div class="tj-select">
                              <select name="cfSubject">
                                <option value="0">Choose a service <span>*</span></option>
                                <option value="1">Organizational Analysis & Development</option>
                                <option value="2">Marketing, Branding & Promotions</option>
                                <option value="3">Advertising & PR</option>
                                <option value="4">Influencer Marketing</option>
                                <option value="5">Events & Activations</option>
                                <option value="6">Sales Strategy & Supply Chain Management</option>
                              </select>
                            </div>
                          </div>
                          <!-- <label class="cf-label">Service Interested <span>*</span></label> -->
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="form-input message-input">
                          <textarea name="cfMessage" id="message"></textarea>
                          <label class="cf-label">Message <span>*</span></label>
                        </div>
                      </div>
                      <div class="submit-btn">
                        <button class="tj-primary-btn" type="submit">
                          <span class="btn-text"><span>Submit Now</span></span>
                          <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="map-area wow fadeInUp" data-wow-delay=".3s">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d951.8684994613558!2d78.60311732481146!3d17.389025900000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9efd904cfedf%3A0x1de96df287970d08!2s4-9-94%2F5%2C%20kuntloor%20road%2C%20near%20Nayara-%20Sapthagiri%20Filling%20Station%2C%20Rayancha%20Enclave%2C%20Vijaynagar%20colony%2C%20Peerzadiguda%2C%20Hyderabad%2C%20Telangana%20500098!5e0!3m2!1sen!2sin!4v1764491947540!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- end: Contact Section -->

