      <!-- start: Footer Section -->
      <footer class="tj-footer-section footer-1 pt-0 section-gap-x">
        <div class="footer-main-area">
          <div class="container">
            <div class="row justify-content-between">
              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="footer-widget wow fadeInUp" data-wow-delay=".1s">
                  <div class="footer-logo">
                    <a href="index.html">
                      <img src="assets/images/logos/logo.png" alt="Logos">
                    </a>
                  </div>
                  <div class="footer-text">
                    <p>Developing personalze our customer journeys to increase satisfaction & loyalty of our expansion.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="footer-widget widget-nav-menu wow fadeInUp" data-wow-delay=".3s">
                  <h5 class="title">What We Do Best</h5>
                  <ul>
                    <li class="small"><a href="strategic-consulting-excellence.html">Strategic Consulting & <br/> Business Growth</a></li>
                    <li class="small"><a href="organizational-analysis-development.html">Organizational Excellence</a></li>
                    <li class="small"><a href="manufacturing-business-setup.html">Manufacturing Business Setup</a></li>
                    <li class="small"><a href="digital-traditional-marketing.html">Digital & Traditional Marketing</a></li>
                    <li class="small"><a href="marketing-branding-solutions.html">Branding & Creative Strategy</a></li>
                    <li class="small"><a href="supply-chain-management-systems.html">Supply Chain Management</a></li>
                    <li class="small"><a href="political-strategy-research.html">Political Research & Strategic Campaigning</a></li>
                    <li class="small"><a href="strategic-documentation.html">Investor-Ready Documentation</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-2 col-lg-4 col-md-6">
                <div class="footer-widget widget-nav-menu wow fadeInUp" data-wow-delay=".5s">
                  <h5 class="title">Quick Links</h5>
                  <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="solutions.html">Solutions</a></li>
                    <li><a href="industries.html">Industries</a></li>
                    <li><a href="careers.html">Careers</a></li>
                    <li><a href="contact.html">Contact</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-4 col-lg-5 col-md-6">
                <div class="footer-widget widget-contact h9-footer-contact style-2 wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                    <h5 class="title">Our Office</h5>
                    <div class="footer-contact-info">
                      <div class="contact-item">
                        <span>India & Global Operations</span>
                      </div>
                     
                      <div class="contact-item">
                        <span><i class="tji-clock"></i> Mon-Sat <br/> 9:30 AM - 6:30 PM</span>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tj-copyright-area">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="copyright-content-area">
                  <div class="footer-contact">
                    <ul>
                      <li>
                        <a href="tel:10095447818">
                          <span class="icon"><i class="tji-phone-2"></i></span>
                          <span class="text">+91 81250 25039</span>
                        </a>
                      </li>
                      <li>
                        <a href="mailto:support@bizvora.in">
                          <span class="icon"><i class="tji-envelop-2"></i></span>
                          <span class="text">support@bizvora.in</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="social-links">
                    <ul>
                      <li><a href="https://www.facebook.com/" target="_blank"><i
                            class="fa-brands fa-facebook-f"></i></a>
                      </li>
                      <li><a href="https://www.instagram.com/" target="_blank"><i
                            class="fa-brands fa-instagram"></i></a>
                      </li>
                      <li><a href="https://x.com/" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
                      <li><a href="https://www.linkedin.com/" target="_blank"><i
                            class="fa-brands fa-linkedin-in"></i></a>
                      </li>
                    </ul>
                  </div>
                  <div class="copyright-text">
                    <p>Copyright &copy; 2025 <a href="https://bizvora.in/"
                        target="_blank"> Bizvora Consulting Pvt. Ltd</a>
                      All right reserved</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-shape-1">
          <img src="assets/images/shape/pattern-2.svg" alt="">
        </div>
        <div class="bg-shape-2">
          <img src="assets/images/shape/pattern-3.svg" alt="">
        </div>
      </footer>
      <!-- end: Footer Section -->

